trunk/schema/syntax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="syntax">
		<xs:complexType>
			<xs:all>
				<xs:element name="comment">
					<xs:complexType>
						<xs:attribute name="start" use="required"/>
						<xs:attribute name="end" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="tags">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tag"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
